*-{
    margin: 0%;
    padding:0%;
}
body{
    background: linear-gradient(to right, #FFF5E0, #8DECB4, #41B06E, #141E46);
}

.cabecalho{
 background-color: #8DECB4;
    padding: 30px;
    text-align: center;
    display: flex;
}}
.foto.jpeg{
    padding: 10px;
    right: 50%;
}